/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    text-decoration: none;
    box-shadow: none;
    background-color: #FFF3E2;
    padding: 3px;
    margin: 0px !important;
    height: 100vh;
} */

.privacy-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    text-decoration: none;
    box-shadow: none;
    background-color: #FFF3E2;
    padding: 3px;
    margin: 0px;
}

.stepper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    text-decoration: none;
    box-shadow: none;
    background-color: #FFF3E2;
    padding-bottom: 50px;
    margin: 0px;
}


.bi-image {
    margin: auto;
}

.privacy-image{
    margin-left: auto;
}

.button {
    align-items: center;
    justify-content: center;
}

.blue-text {
    color: blue;
}

/* 기본 스타일 */
.container {
    width: 353px;
    height: 852px;
    margin: 0 auto; /* 가운데 정렬을 위해 */
    border: 2px solid black; /* 기본 테두리 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
  }
  
  /* 추가적인 스타일을 원한다면 여기에 추가 */
  
  